## Maven

bisectPlugin/target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
bisectPlugin/.mvn/timing.properties

## IDEA

# User-specific stuff:
bisectPlugin/.idea/workspace.xml
bisectPlugin/.idea/tasks.xml
bisectPlugin/.idea/dictionaries
